<h4>Address Info Form</h4>
<ng-container [formGroup]="form">
    <div class="row">
        <label for="address1"> Address 1 </label>
        <input type="text" formControlName="address1" class="">
    </div>
    <div class="row">
        <label for="address2"> Address 2</label>
        <input type="text" formControlName="address2" class="">
    </div>
    <div class="row">
        <label for="state"> State </label>
        <input type="text" formControlName="state" class="">
    </div>
    <div class="row">
        <label for="city"> City </label>
        <input type="text" formControlName="city" class="">
    </div>
    <div class="row">
        <label for="zip"> Zip </label>
        <input type="text" formControlName="zip" class="">
    </div>
</ng-container>